services:
  telegrambot:
    env_file:
      - "tgbot.env"
      - "secrets.env"
    build: 
      context: telegram-bot
      dockerfile: Dockerfile
  backend:
    env_file:
      - "secrets.env"
    build:
      context: "server"
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
  frontend:
    build:
      context: "frontend"
      dockerfile: Dockerfile
      args:
        CORNERS_SERVER_API_URL: "https://test-api.playcorners.ru"
        CORNERS_SERVER_WEBSOCKET_URL: "wss://test-api.playcorners.ru/ws"
    ports:
      - "3000:3000"
